html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: url(../images/cursor.svg), default;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

address {
    font-style: normal;
}

button {
    border: none;
    cursor: url(../images/cursor.svg), default;
}

body {
    font-family: var(--main-font);
    color: var(--primary-text-color);

    font-size: 16px;
    margin: 0;
}