.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 1;

    transition: opacity 250ms , visibility 250ms;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        .modal {
            transform: scale(0);
        }

    }
}

.modal {
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    padding: 28px;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    background-color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        min-width: 568px;
        max-width: 600px;
        padding: 32px 60px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9px;
    height: 9px;
    padding: 0;
    background-color: #FCFCFC;
    fill: #131313;
}

.modal-close__icon {
    width: 16px;
    height: 16px;
    scale: (1);

    @media screen and(min-width: $tablet) {
        width: 20px;
        height: 20px;
    }

    &:focus,
    &:hover {
        scale: (1.5);
    }
}

@media screen and (min-width: 768px) {
    .modal-close-btn {
        top: 24px;
        right: 24px;
        width: 11px;
        height: 11px;
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .modal {
        width: 90%;
    }
}

.modal-form__title {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
    text-align: center;

    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .modal-form__title {
        width: 322px;
        font-size: 20px;
        line-height: 1.4;

        margin: auto;
        padding-bottom: 32px;
    }
}

.modal-form__text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--secondary-text-color);
    margin-bottom: 24px;

}

@media screen and (min-width: 768px) {
    .modal-form__text {
        font-size: 16px;
        margin-bottom: 32px;
    }
}

.modal-form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modal-form__input {
    display: block;
    width: 100%;
    height: 32px;
    background-color: rgba(248, 210, 78, .1);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    padding-left: 12px;
}

input::placeholder {
    color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
    .modal-form__input {
        height: 42px;
        padding-left: 16px;
    }
}

.modal-form__field {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--secondary-text-color);
    top: 50%;
    padding-left: 12px;
    margin-bottom: 12px;


   /*transition: transform var($timing-function) var($timing-function);
   transform: translateY( -50%);*/
}

.modal-form__message {
    resize: none;
    width: 100%;
    height: 64px;
    background-color: rgba(248, 210, 78, .1);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-left: 12px;
}

@media screen and (min-width: 768px) {
    .modal-form__message {
        height: 84px;
        padding-top: 11px;
        padding-left: 16px;
    }
}

.modal-form__submit {
    display: block;
    background-color: var(--accent-color);
    width: 132px;
    height: 42px;
    border: none;
    border-radius: 10px;
    margin: auto;
    padding: 12px 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
    .modal-form__submit {
        width: 121px;

    }
}

@media screen and (max-width: 767px) {
    input::placeholder {
            font-size: 12px;
    }

    .modal-form__wrapper {
    margin-bottom: 12px;
}
}