/* modal buy now */

.modal {
    padding: 32px 54px;
    position: absolute;
    padding: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 568px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}

@media screen and (max-width:320px) {
    .modal {
        width: 280px;
    }
}

/* CLOSE BUTTON */

.modal-close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal-close-icon {
    width: 20px;
    height: 20px;
    fill: black;
}

/* CLOSE BUTTON */

/* CAPTION */

.modal-buy-now__caption {
    font-family: var(--title-font);
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
}

/* CAPTION */

/* ICE CREAM LIST */

.ice-cream-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
    width: 100%;
}

@media screen and (max-width:480px) {
    .ice-cream-list {
        display: block;
        width: 132px;
        margin-right: auto;
        margin-left: auto;
    }
}

.list-item {
    position: relative;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 40px;
}

@media screen and (max-width:480px) {
    .list-item {
        padding-bottom: 40px;
    }
}

.modal-square-green {
    position: absolute;
    top: 60px;
    width: 132px;
    height: 135px;
    border: 2px solid #96AF8C;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
}

.modal-circle-green {
    border-radius: 50%;
    position: relative;
    width: 131.56px;
    height: 130.6px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), var(--pagination-color);
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-square-yellow {
    position: absolute;
    top: 60px;
    width: 132px;
    height: 135px;
    background: var(--secondary-background-color);
    border: 2px solid var(--secondary-background-color);
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15.7808px;
}

.modal-circle-yellow {
    border-radius: 50%;
    position: relative;
    width: 131.13px;
    height: 130.6px;
    
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.modal-square-brown {
    position: absolute;
    top: 60px;
    width: 132px;
    height: 135px;
    border: 2px solid var(--additional-background-color);
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
}

.modal-circle-brown {
    border-radius: 50%;
    position: relative;
    width: 131.13px;
    height: 130.6px;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-item-text {
    position: relative;
    top: 95px;
}

.position-img {
    position: absolute;
    bottom: 67px;
}

@media screen and (min-width:480px) {
    .position-img {
        position: absolute;
    }
}

/* ICE CREAM LIST */

/* FORM */

.modal-form-input {
    width: 368px;
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 16px;
    background-color: var(--modal-form-color);
    outline: none;
    border: 1px solid var(--background-color);
}

/* @media screen and (max-width:480px) {
    .modal-form-input {
        width: 224px;
    }
} */

.svg-modal-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    fill: #212121;
}


.modal-form {
    display: block;
    width: 224px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:480px) {
    .modal-form {
        width: 368px;
    }
}

.modal-form-field {
    display: block;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-right: auto;
    margin-left: auto;
}

.modal-form-field:not(:last-child) {
    margin-bottom: 16px;
}

/* @media screen and (max-width:320px) {
    .modal-form-field {
        width: 224px;
    }
}

@media screen and (min-width:1200px) {
    .modal-form-field {
        width: 368px;
    }
} */

.modal-form-field-message {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-right: auto;
    margin-left: auto;
}

/* @media screen and (max-width:320px) {
    .modal-form-field-message {
        width: 224px;
    }
}

@media screen and (min-width:1200px) {
    .modal-form-field-message {
        width: 368px;
    }
} */

.modal-form-message {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--background-color);
    padding-left: 16px;
    background-color: rgba(248, 210, 78, 0.1);
}

/* FORM */

/* BUTTON */

.modal-send-btn {
    display: block;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border: 0px;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;
    background: var(--accent-color);
    border-radius: 10px;
}

.modal-send-text {
    color: var(--secondary-text-color);
    text-align: center;
    letter-spacing: 0.06em;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
}

/* BUTTON */