<div class="mobile-menu-read is-hidden" data-modal-about>
  <div class="container mobile-menu-read__container">
    <button
      type="button"
      class="mobile-menu-read__close-btn"
      data-modal-about-close
    >
      <svg class="mobile-menu-read__close-icon">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="mobile-menu-read__title">How it’s made?</p>
    <iframe
      src="https://www.youtube.com/embed/375lR99ILgs"
      width="224"
      height="199"
      title="How ice cream is made in Thailand"
      allowfullscreen
      class="mobile-menu-read__frame"
    ></iframe>
    <p class="mobile-menu-read__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
