<section class="blog-post" id="blog">
  <div class="container">
    <div class="blog-post-content">
      <p class="section-suptitle-light section-suptitle light">April 16 2020</p>
      <h2 class="section-title-light section-title light">Blog Post One</h2>
      <p class="section-text-light section-text light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="blog-post-btn link" href="#">Read Our Blog</a>
    </div>
    <img src="./images/blog/read-our-blog.jpg" alt="team" loading="lazy" />
  </div>
</section>