<section class="callback container" id="callback">
  <img src="./images/callback-img.jpg" alt="human work in office" />

  <form class="callback-form">
    <h2 class="callback-title">Request Callback</h2>

    <label class="form-label"><span class="label-name">Name</span>
      <input placeholder="Enter your name" class="form-input" type="text" id="user-name" name="user-name" />
    </label>

    <label class="label-name" for="user-email">Email</label>
    <input required placeholder="Enter email*" class="form-input form-input-email" type="email" name="user-email"
      id="user-email" />

    <button class="btn-callback" type="submit">Send</button>
  </form>
</section>