<section class="section">
  <div class="container">
    <div class="coment">
      <picture>
        <source
          srcset="
            ./images/jpeg/customer-reviews/customer-1.jpg    1x,
            ./images/jpeg/customer-reviews/customer-1@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/webp/customer-reviews/customer-1.webp    1x,
            ./images/webp/customer-reviews/customer-1@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <img
          src="./images/jpeg/customer-reviews/customer-1.jpg"
          alt="user foto"
          class="coment__foto"
        />
      </picture>
      <div class="coment__field">
        <p class="coment__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </div>
      <p class="coment__information">Emily, Los Angeles</p>
    </div>
    <div class="coment">
      <picture>
        <source
          srcset="
            ./images/jpeg/customer-reviews/customer-2.jpg    1x,
            ./images/jpeg/customer-reviews/customer-2@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/webp/customer-reviews/customer-2.webp    1x,
            ./images/webp/customer-reviews/customer-2@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <img
          src="./images/jpeg/customer-reviews/customer-2.jpg"
          alt="user foto"
          class="coment__foto"
        />
      </picture>
      <div class="coment__field">
        <p class="coment__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
      </div>
      <p class="coment__information">Sam, Los Angeles</p>
    </div>
    <div class="coment">
      <picture>
        <source
          srcset="
            ./images/jpeg/customer-reviews/customer-3.jpg    1x,
            ./images/jpeg/customer-reviews/customer-3@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/webp/customer-reviews/customer-3.webp    1x,
            ./images/webp/customer-reviews/customer-3@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <img
          src="./images/jpeg/customer-reviews/customer-3.jpg"
          alt="user foto"
          class="coment__foto"
        />
      </picture>

      <div class="coment__field">
        <p class="coment__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </div>
      <p class="coment__information">Diana, Chicago</p>
    </div>
    <div class="coment">
      <img src="#" alt="user foto" srcset="#" class="coment__foto" />
      <div class="coment__field">
        <p class="coment__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </div>
      <p class="coment__information">Bryan, New-York</p>
    </div>
  </div>
</section>
