<footer class="footer">
  <div class="container">
    <ul class="footer-icon list">
      <li>
        <a class="social-link" href="https://www.facebook.com/" target="_blank">
          <svg width="35" height="35" class="social-icon">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social-link" href="https://twitter.com/" target="_blank">
          <svg width="35" height="35" class="social-icon">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social-link" href="https://www.youtube.com/" target="_blank">
          <svg width="45" height="35" class="social-icon">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social-link" href="https://www.linkedin.com/" target="_blank">
          <svg width="31" height="35" class="social-icon">
            <use href="./images/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-copy">Copyright &#169; 2022 - FinanceLedger</p>
  </div>
</footer>
