<footer class="page-footer">
    <div class="container footer-box">
        <p>homemade ice cream made</p>
        <p>with passion</p>
    </div>
    <div class="container network">
        <ul class="network-list">
            <li class="network-list__item">
                <a href="https://github.com" class="network-list__link">https://github.com
                    <svg aria-label "іконка гітхаб" class="network-list__icon">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
            <li class="network-list__item">
                <a href="https://web.telegram.org" class="network-list__link">https://web.telegram.org
                    <svg aria-label "іконка телеграм" class="network-list__icon">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
            <li class="network-list__item">
                <a href="https://www.facebook.com" class="network-list__link">https://www.facebook.com
                    <svg aria-label "іконка фейсбук" class="network-list__icon">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p>Feel free to contact</p>
        <a class="telefon" href="tel:+610383766284">+61 (0) 383 766 284</a>
    </div>
    <div class="basement">
        <span class="border"></span>
        <p>© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>