<!-- gallery -->
<section class="section section__gallery">
  <div class="container gallery">
    <h2 class="visually-hidden" id="Gallery">gallery</h2>
    <picture>
      <source
        srcset="
          ./images/jpeg/desktop/gallery/gallery-1.jpg,
          ./images/jpeg/desktop/gallery/gallery-1@2x.jpg
        "
        media="(min-width: 1200px)"
        type="image/jpg"
      />
      <source
        srcset="
          ./images/jpeg/tablet/gallery/gallery-1.jpg,
          ./images/jpeg/tablet/gallery/gallery-1@2x.jpg
        "
        media="(min-width: 768px)"
        type="image/jpg"
      />
      <source
        srcset="
          ./images/jpeg/mobile/gallery/gallery-1.jpg,
          ./images/jpeg/mobile/gallery/gallery-1@2x.jpg
        "
        media="(min-width: 768px)"
        type="image/jpg"
      />
      <img
        srcset="./images/jpeg/desktop/gallery/gallery-1.jpg"
        src="./images/jpeg/desktop/gallery/gallery-1.jpg"
        width="1013"
        height="422"
        alt="image"
        loading="lazy"
        class="gallery__image"
      />
    </picture>
  </div>
</section>
