<!-- gallery -->
<section class="section section__gallery">
  <h2 class="visually-hidden" id="Gallery">gallery</h2>
  <div class="container">
    <div class="slick">
      <ul class="gallery__list">
        <li>
          <picture>
            <source srcset="
                ./images/webp/desktop/gallery/gallery-1.webp    1x,
                ./images/webp/desktop/gallery/gallery-1@2x.webp 2x
              " media="(min-width: 1200px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/desktop/gallery/gallery-1.jpg    1x,
                ./images/jpeg/desktop/gallery/gallery-1@2x.jpg 2x
              " media="(min-width: 1200px)" type="image/jpg" loading="lazy" />
            <source srcset="
                ./images/webp/tablet/gallery/gallery-1.webp    1x,
                ./images/webp/tablet/gallery/gallery-1@2x.webp 2x
              " media="(min-width: 768px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/tablet/gallery/gallery-1.jpg    1x,
                ./images/jpeg/tablet/gallery/gallery-1@2x.jpg 2x
              " media="(min-width: 768px)" type="image/jpg" loading="lazy" />
            <source srcset="
                ./images/webp/mobile/gallery/gallery-1.webp    1x,
                ./images/webp/mobile/gallery/gallery-1@2x.webp 2x
              " media="(max-width: 767px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/mobile/gallery/gallery-1.jpg    1x,
                ./images/jpeg/mobile/gallery/gallery-1@2x.jpg 2x
              " media="(max-width: 767px)" type="image/jpg" loading="lazy" />
            <img srcset="./images/jpeg/desktop/gallery/gallery-1.jpg" src="./images/jpeg/desktop/gallery/gallery-1.jpg"
              width="1013" height="422" alt="image" loading="lazy" class="gallery__image" />
          </picture>
        </li>
        <li>
          <picture>
            <source srcset="
                ./images/webp/desktop/gallery/gallery-2.webp    1x,
                ./images/webp/desktop/gallery/gallery-2@2x.webp 2x
              " media="(min-width: 1200px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/desktop/gallery/gallery-2.jpg    1x,
                ./images/jpeg/desktop/gallery/gallery-2@2x.jpg 2x
              " media="(min-width: 1200px)" type="image/jpg" loading="lazy" />
            <source srcset="
                ./images/webp/tablet/gallery/gallery-2.webp    1x,
                ./images/webp/tablet/gallery/gallery-2@2x.webp 2x
              " media="(min-width: 768px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/tablet/gallery/gallery-2.jpg    1x,
                ./images/jpeg/tablet/gallery/gallery-2@2x.jpg 2x
              " media="(min-width: 768px)" type="image/jpg" loading="lazy" />
            <source srcset="
                ./images/webp/mobile/gallery/gallery-2.webp    1x,
                ./images/webp/mobile/gallery/gallery-2@2x.webp 2x
              " media="(max-width: 767px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/mobile/gallery/gallery-2.jpg    1x,
                ./images/jpeg/mobile/gallery/gallery-2@2x.jpg 2x
              " media="(max-width: 767px)" type="image/jpg" loading="lazy" />
            <img srcset="./images/jpeg/desktop/gallery/gallery-2.jpg" src="./images/jpeg/desktop/gallery/gallery-2.jpg"
              width="1013" height="422" alt="image" loading="lazy" class="gallery__image" />
          </picture>
        </li>
        <li>
          <picture>
            <source srcset="
                ./images/webp/desktop/gallery/gallery-3.webp    1x,
                ./images/webp/desktop/gallery/gallery-3@2x.webp 2x
              " media="(min-width: 1200px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/desktop/gallery/gallery-3.jpg    1x,
                ./images/jpeg/desktop/gallery/gallery-3@2x.jpg 2x
              " media="(min-width: 1200px)" type="image/jpg" loading="lazy" />
            <source srcset="
                ./images/webp/tablet/gallery/gallery-3.webp    1x,
                ./images/webp/tablet/gallery/gallery-3@2x.webp 2x
              " media="(min-width: 768px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/tablet/gallery/gallery-3.jpg    1x,
                ./images/jpeg/tablet/gallery/gallery-3@2x.jpg 2x
              " media="(min-width: 768px)" type="image/jpg" loading="lazy" />
            <source srcset="
                ./images/webp/mobile/gallery/gallery-3.webp    1x,
                ./images/webp/mobile/gallery/gallery-3@2x.webp 2x
              " media="(max-width: 767px)" type="image/webp" loading="lazy" />
            <source srcset="
                ./images/jpeg/mobile/gallery/gallery-3.jpg    1x,
                ./images/jpeg/mobile/gallery/gallery-3@2x.jpg 2x
              " media="(max-width: 767px)" type="image/jpg" loading="lazy" />
            <img srcset="./images/jpeg/desktop/gallery/gallery-3.jpg" src="./images/jpeg/desktop/gallery/gallery-3.jpg"
              width="1013" height="422" alt="image" loading="lazy" class="gallery__image" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>