<header class="header" id="header">
  <div class="container">
    <a href="" class="header-logo link animate__animated animate__bounce">
      <img class="header-logo-img" src="./images/logos/logo.svg" alt="logo" />
      <span class="accent">Finance</span> Ledger
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#hero">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#about">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#cases">Cases</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#blog">Blog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#callback">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>