<!-- header -->
<header class="page-header">
<div class="container">
    <a href="./index.html" class="link">
        <img src="#" alt="logo" class="logo">
    </a>
    <nav class="nav">
        <ul class="list nav__list">
            <li class="nav__item"><a href="#hero" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">How it’s made?</a></li>
            <li class="nav__item"><a href="#products" class="nav__link">Our products</a></li>
            <li class="nav__item"><a href="#contacts" class="nav__link">Contact</a></li>
        </ul>
    </nav>

    <button type="button" class="button">
        <svg class="burger-icon" width="" height="">
            <use href="#icon-burger"></use>
        </svg>
        <svg class="cross-icon" width="" height="">
            <use href="#icon-cross"></use>
        </svg>
    </button>

    <button type="button" class="button">Buy now
        <svg class="" width="" height="">
            <use href="#icon-greater-than"></use>
        </svg>
    </button>
</div>
</header>
