<!-- header -->
<header class="page-header">
<div class="container">
    <a href="../index.html" class="link">
        <img src="#" alt="logo" class="logo">
    </a>
    <nav class="nav">
        <ul class="list nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">How it’s made?</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Our products</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
        </ul>
    </nav>
    <button type="button">Buy now
        <svg class="" width="" height="">
            <use href="#"></use>
        </svg>
    </button>
</div>
</header>
