<section class="hero__section hero">
    <h1 class="visually-hidden">hero</h1>
    <div class="hero__container container">
        <h1 class="hero__title">Ice cream <br />made with<br />
            <span class="hero__span">passion</span>
        </h1>
        <div class="hero-buttons">
            <a href="#products"><span class="hero-primary-button">Products</span></a>
            <a href="#about"><span class="hero-secondary-button">How it's made?</span></a>
            <ul class="sales-spots list">
                <li class="sales-spots__item">
                    <p class="sales-spots__number">16</p>
                    <p class="sales-spots__name">cafes</p>
                </li>
                <li class="sales-spots__item">
                    <p class="sales-spots__number">23</p>
                    <p class="sales-spots__name">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero-description">
            <picture class="hero-description__image">
                <source srcset="
            ./images/jpeg/desktop/header-hero/plate.png 1x, 
            ./images/jpeg/desktop/header-hero/plate@2x.png 2x" media="(min-width: 1200px)">
                <source srcset="
            ./images/webp/tablet/header-hero/plate.webp 1x, 
            ./images/webp/tablet/header-hero/plate@2x.webp 2x" media="(max-width:767px)" type="image/webp">
                <source srcset="
            ./images/jpeg/tablet/header-hero/plate.png 1x, 
            ./images/jpeg/tablet/header-hero/plate@2x.png 2x" media="(max-width:1119px)">
                <img src="./images/jpeg/desktop/header-hero/plate.png" alt="scoops of ice cream">
            </picture>
            <div class="hero-description__box">
                <p class="hero-description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <a class="hero__link" href="#Gallery">
                    <svg class="hero__icon">
                        <use class="hero__icon-svg" href="./images/sprite.svg#icon-arrow"></use>
                    </svg></a>
            </div>
        </div>
        <picture class="hero-image">
            <source srcset="
        ./images/jpeg/desktop/header-hero/big-ice-cream-desk.png 1x, 
        ./images/jpeg/desktop/header-hero/big-ice-cream-desk@2x.png 2x" media="(min-width: 1200px)">
            <source srcset="
        ./images/jpeg/tablet/header-hero/big-ice-cream-tab.png 1x, 
        ./images/jpeg/tablet/header-hero/big-ice-cream-tab@2x.png 2x" media="(min-width:768px)">
            <source srcset="
        ./images/jpeg/mobile/header-hero/big-ice-cream-mob.png 1x, 
        ./images/jpeg/mobile/header-hero/big-ice-cream-mob@2x.png 2x" media="(max-width:767px)">
            <img src="./images/jpeg/desktop/header-hero/big-ice-cream-desk@2x.png" alt="an ice cream cone">
        </picture>
    </div>
</section>