<section class="section hero">
    <div class="container">
     <h1 class="hero__title">ice cream made with passion</h1>
     <div class="hero__buttons">
      <button type="button" class="hero__primary-button">
            <a href="#"></a>Products</button>
        <button type="button" class="hero__secondary-button">
            <a href="#"></a>How it's made?</button>  
     </div>
     <div class="hero__description">
       <img src="#" alt="scoops of ice cream">
        <p class="hero__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p> 
     </div>
     <div class="hero__statistics">
         <img src="#" alt="an ice cream cone">
        <ul class="hero__stats">
            <li class="hero__stats-cafes"><span>16</span> cafes</li>
            <li class="hero__stats-trucks"><span>23</span> food trucks</li>
        </ul>   
     </div>
    </div>
</section>
