<section class="section hero">
    <div class="container">
     <h1 class="hero__title">ice cream made with <span>passion</span></h1>
     <div class="hero__buttons">
      <button type="button" class="hero__primary-button">
            <a href="#"></a>Products</button>
        <button type="button" class="hero__secondary-button">
            <a href="#"></a>How it's made?</button>  
        <ul class="sales-spots__list list">
            <li class="sales-spots__item">
                <p class="sales-spots__number">16</p>
                <p class="sales-spots__name">cafes</p>
            </li>
            <li class="sales-spots__item">
                <p class="sales-spots__number">23</p>
                <p class="sales-spots__name">food trucks</p>
            </li>
        </ul>  
     </div>
     <div class="hero__description">
        <picture>
            <source srcset="
            ./images/webp/desktop/header-hero/plate.webp 1x,
            ./images/webp/desktop/header-hero/plate@2x.webp 2x"
            media="(min-width: 1200px)"
            type="image/webp">
            <source srcset="
            ./images/jpeg/desktop/header-hero/plate.png 1x, 
            ./images/jpeg/desktop/header-hero/plate@2x.png 2x"
            media="(min-width: 1200px)">
            <source srcset="
            ./images/webp/tablet/header-hero/plate.webp 1x, 
            ./images/webp/tablet/header-hero/plate@2x.webp 2x"
            media="(max-width:767)"
            type="image/webp">
            <source srcset="
            ./images/jpeg/tablet/header-hero/plate.png 1x, 
            ./images/jpeg/tablet/header-hero/plate@2x.png 2x"
            media="(max-width:767px)">
            <img src="./images/jpeg/desktop/header-hero/plate.png" alt="scoops of ice cream">
        </picture>
        <p class="hero__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p> 
     </div>
        <picture class="hero__picture">
            <source srcset="
            ./images/webp/desktop/header-hero/ice-cream.webp 1x, 
            ./images/webp/desktop/header-hero/ice-cream@2x.webp 2x"
            media="(min-width: 1200px)"
            type="image/webp">
            <source srcset="
            ./images/jpeg/desktop/header-hero/ice-cream.png 1x, 
            ./images/jpeg/desktop/header-hero/ice-cream@2x.png 2x"
            media="(min-width: 1200px)">
            <source srcset="
            ./images/webp/tablet/header-hero/ice-cream.webp 1x, 
            ./images/webp/tablet/header-hero/ice-cream@2x.webp 2x"
            media="(max-width:767)"
            type="image/webp">
            <source srcset="
            ./images/jpeg/tablet/header-hero/ice-cream.png 1x, 
            ./images/jpeg/tablet/header-hero/ice-cream@2x.png 2x"
            media="(max-width:767px)">
            <source srcset="
            ./images/webp/mobile/header-hero/ice-cream.webp 1x, 
            ./images/webp/mobile/header-hero/ice-cream@2x.webp 2x"
            media="(min-width:768px)"
            type="image/webp">
            <source srcset="
            ./images/jpeg/mobile/header-hero/ice-cream.png 1x, 
            ./images/jpeg/mobile/header-hero/ice-cream@2x.png 2x"
            media="(min-width:768px)">
            <img src="./images/jpeg/mobile/header-hero/ice-cream.png" alt="an ice cream cone">
        </picture>
    </div>
</section>
