<div class="backdrop-locations is-hidden" data-modal-location>
  <div class="modal-locations">
    <button type="button" class="modal-close-btn" data-modal-location-close>
      <svg class="modal-close-btn__icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <form class="modal-form">
      <p class="modal-locations__title">Our Locations</p>
      <div class="modal-locations__map-viewer">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13085.123400258724!2d30.49778430556876!3d50.445172449329796!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce59e3ab65a7%3A0x694b8565cab02eaf!2sGolden%20Gate!5e0!3m2!1sen!2sua!4v1665659680659!5m2!1sen!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <a
        class="modal-locations__map-btn"
        target="_blank"
        href="https://goo.gl/maps/U6pNt1ddshbqUGR66"
        >Open map</a
      >
    </form>
  </div>
</div>
