<section class="slick">
  <div class="slick-container">
    <ul class="one-time">
      <li class="box">
        <h3 class="slick-number">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium numquam doloribus
          fugiat tenetur expedita, distinctio culpa molestias repudiandae, eaque minus velit laboriosam voluptates a
          tempora voluptatibus ullam repellat magni asperiores voluptatem itaque dolore. Quam pariatur voluptatum, nobis
          distinctio reprehenderit beatae? Laudantium assumenda doloribus, fugiat omnis minima illo impedit nobis
          itaque.
        </h3>
      </li>

      <li class="box">
        <h3 class="slick-number">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium numquam doloribus
          fugiat tenetur expedita, distinctio culpa molestias repudiandae, eaque minus velit laboriosam voluptates a
          tempora voluptatibus ullam repellat magni asperiores voluptatem itaque dolore. Quam pariatur voluptatum, nobis
          distinctio reprehenderit beatae? Laudantium assumenda doloribus, fugiat omnis minima illo impedit nobis
          itaque.
        </h3>
      </li>

      <li class="box">
        <h3 class="slick-number">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium numquam doloribus
          fugiat tenetur expedita, distinctio culpa molestias repudiandae, eaque minus velit laboriosam voluptates a
          tempora voluptatibus ullam repellat magni asperiores voluptatem itaque dolore. Quam pariatur voluptatum, nobis
          distinctio reprehenderit beatae? Laudantium assumenda doloribus, fugiat omnis minima illo impedit nobis
          itaque.
        </h3>
      </li>

      <li class="box">
        <h3 class="slick-number">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium numquam doloribus
          fugiat tenetur expedita, distinctio culpa molestias repudiandae, eaque minus velit laboriosam voluptates a
          tempora voluptatibus ullam repellat magni asperiores voluptatem itaque dolore. Quam pariatur voluptatum, nobis
          distinctio reprehenderit beatae? Laudantium assumenda doloribus, fugiat omnis minima illo impedit nobis
          itaque.
        </h3>
      </li>

      <li class="box">
        <h3 class="slick-number">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium numquam doloribus
          fugiat tenetur expedita, distinctio culpa molestias repudiandae, eaque minus velit laboriosam voluptates a
          tempora voluptatibus ullam repellat magni asperiores voluptatem itaque dolore. Quam pariatur voluptatum, nobis
          distinctio reprehenderit beatae? Laudantium assumenda doloribus, fugiat omnis minima illo impedit nobis
          itaque.
        </h3>
      </li>

      <li class="box">
        <h3 class="slick-number">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium numquam doloribus
          fugiat tenetur expedita, distinctio culpa molestias repudiandae, eaque minus velit laboriosam voluptates a
          tempora voluptatibus ullam repellat magni asperiores voluptatem itaque dolore. Quam pariatur voluptatum, nobis
          distinctio reprehenderit beatae? Laudantium assumenda doloribus, fugiat omnis minima illo impedit nobis
          itaque.
        </h3>
      </li>
    </ul>
  </div>
</section>