<section class="solutions">
  <div class="container">
    <img src="./images/solutions/solutions.jpg" alt="team" loading="lazy" />
    <div class="solutions-content">
      <p class="section-suptitle section-suptitle-light light">
        What you are looking for
      </p>
      <h2 class="section-title section-title-light light">
        We provide bespoke solutions
      </h2>
      <p class="section-text section-text-light light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="solutions-btn light link" href="#"> Read More</a>
    </div>
  </div>
</section>
