.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms, visibility 250ms, transform 500ms;
    transform: translateX(100%);

    &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateX(0%);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 12px;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 51px;
    }
}

.cross-icon {
    fill: var(--primary-text-color);
}

.mobile-nav {
    text-align: center;
    margin-bottom: 111px;

    &__item:not(:last-child) {
            margin-bottom: 32px;
    }

    &__link {
        font-family: 'Montserrat';
        @include font(32px, 700, 39px);
        color: var(--primary-text-color);
    
        &:hover,
        &:focus {
            color: var(--secondary-text-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        &__header {
            padding-top: 20px;
        }

        &__main {
            padding-top: 76px;
        }
    }

    .mobile-nav__item:not(:last-child) {
    margin-bottom: 40px;
    }

    .mobile-nav__link {
        @include font(48px, 700, 59px);
    }

    .buy-now-button-mobile {
        display: none;
    }

}