.about {
  padding-top: 60px;
  background: var(--background-color);
}
.about__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.about__title-label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.about__title {
  font-family: 'Seymour One';
  font-style: normal;
  width: 200px;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about__picture {
  display: block;
  justify-content: center;
  align-items: center;
}

.about__image {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 278px;
  height: 278px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  margin-bottom: 62px;
}
.about__image-cow {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.about__image-cow-1 {
  transform: translateY(22px);
}

.about__image-cow-2 {
  width: 100%;
  border-radius: 1038.58px;
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 42px;
}

.about__text-first {
  width: 220px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.about__text-second {
  width: 220px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
.about__text-third {
  display: none;
}
.about__btn {
  width: 164px;
  height: 42px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
  padding: 12px 34px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.btn-icon {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-color: var(--primary-text-color);
}
// Mobile-Menu-Start
.mobile-menu-read {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--transition-dur-and-func) visibility
    var(--transition-dur-and-func);
}
.mobile-menu-read.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu-read__container {
  width: 280px;
  position: relative;
  padding: 28px;
  background: var(--primary-text-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}
.mobile-menu-read__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: red;
  border: 0;
  padding: 0;
}
.mobile-menu-read__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--secondary-text-color);
}
.mobile-menu-read__frame {
  margin-bottom: 20px;
  background: #131313;
  border-radius: 10px;
}
.mobile-menu-read__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-text-color);
}
// Mobile-Menu-End

@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 48px;
  }
  .about__title-wrapper {
    margin-bottom: 72px;
  }
  .about__title-label {
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
  .about__title {
    width: 100%;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.06em;
  }

  .about__picture {
    display: flex;
    gap: 32px;
  }

  .about__image {
    width: 335px;
    height: 330px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .about__image-cow-1 {
    transform: translateY(26px);
  }

  .about__text-wrapper {
    justify-content: start;
    padding-bottom: 0;
  }

  .about__text-first {
    width: 334px;
    text-align: start;
    margin-bottom: 8px;
  }
  .about__text-second {
    width: 334px;
    text-align: start;
    line-height: 21px;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }
  .about__text-third {
    display: block;
    width: 334px;
    text-align: start;
    margin-bottom: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
  }
  .about__btn {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 60px;
  }
  .about__title-wrapper {
    margin-bottom: 82px;
  }
  .about__title-label {
    font-size: 30px;
    line-height: 37px;
  }
  .about__title {
    font-size: 36px;
    line-height: 45px;
  }
  .about__picture {
    gap: 100px;
  }
  .about__image {
    width: 500px;
    height: 500px;
  }
  .about__image-cow-1 {
    transform: translateY(39px);
  }
  .about__text-first {
    width: 463px;
    font-size: 16px;
    line-height: 28px;
  }
  .about__text-second {
    width: 463px;
    font-size: 14px;
    line-height: 27px;
  }
  .about__text-third {
    width: 463px;
    font-size: 14px;
    line-height: 27px;
  }
}
