.container {
  margin-left: auto;
  margin-right: auto;
}
.page-adresscard {
  background-color: var(--background-color);
}
.adresscard-btn__locations {
  @include centeredFlex;
  @include font(14px, 600, 18px);
  text-align: center;
  padding: 12px 30px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  @include transitionTwo;
  &:hover {
    background-color: var(--button-hoover-focus-color);
  }
  &:focus {
    color: var(--primary-text-color);
    background-color: var(--button-hoover-focus-color);
  }
  &:default {
    background-color: var(--additional-text-color);
  }
}
.adresscard-btn__franchise {
  @include centeredFlex;
  @include font(14px, 600, 18px);
  text-align: center;
  padding: 12px 45px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--background-color);
  @include transitionTwo;
  &:hover {
    border-color: var(--button-hoover-focus-color);
  }
  &:focus {
    color: var(--primary-text-color);
    border-color: var(--button-hoover-focus-color);
  }
  &:default {
    border-color: var(--additional-text-color);
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-card {
    position: relative;
    height: 1130px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 39px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .container_contacts {
    position: absolute;
    top: -345px;
  }
  .adresscard {
    border-radius: 24px;
    background-color: var(--primary-text-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 320px;
    padding: 40px 32px;
    font-family: var(--main-font);
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .adresscard_title {
    display: inline-block;
    @include font(12px, 500, 22px);
    letter-spacing: 0.04em;
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;
    color: var(--secondary-text-color);
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .adresscard_item {
    &:not(:last-child) {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #e1e1e1;
    }
  }
  .adresscard_list-title {
    @include font(12px, 500, 22px);
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
  }
  .adresscard_list-adress {
    @include font(12px, 500, 22px);
    letter-spacing: 0.04em;
    color: var(--additional-background-color);
  }
  .adresscard_list-schedule {
    @include font(12px, 500, 22px);
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
  }
  .adresscard_list-hours {
    @include font(12px, 500, 22px);
    letter-spacing: 0.04em;
    color: var(--button-disabled-color);
  }
  .adresscard_link {
    @include font(12px, 500, 18px);
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
  }
  .adresscard-btn__locations {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }
  .adresscard-btn__franchise {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: $tablet) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .container-card {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 40px;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
  }
  .container_contacts {
    position: absolute;
    top: -304px;
    display: flex;
    gap: 16px;
    margin-bottom: 60px;
  }
  .adresscard {
    background-color: var(--primary-text-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    width: 100%;
    padding: 40px 24px;
    font-family: var(--main-font);
  }
  .adresscard_title {
    display: inline-block;
    @include font(16px, 500, 30px);
    letter-spacing: 0.04em;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    color: var(--secondary-text-color);
    border: none;
    border-radius: 6px;
    background-color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  .adresscard_item {
    &:not(:last-child) {
      margin-bottom: 32px;
      padding-bottom: 26px;
      border-bottom: 1px solid #e1e1e1;
    }
  }
  .adresscard_list-title {
    @include font(14px, 500, 26px);
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
  }
  .adresscard_list-adress {
    @include font(14px, 500, 26px);
    letter-spacing: 0.04em;
    color: var(--additional-background-color);
  }
  .adresscard_list-schedule {
    @include font(14px, 500, 26px);
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
  }
  .adresscard_list-hours {
    @include font(14px, 500, 26px);
    letter-spacing: 0.04em;
    color: #907e82;
  }
  .adresscard_link {
    @include font(14px, 500, 26px);
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
  }
  .adresscard-btn {
    @include centeredFlex;
    justify-items: baseline;
    gap: 16px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-card {
    position: relative;
    width: 1168px;
    height: 566px;
  }
  .container_contacts {
    position: absolute;
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
    top: -18%;
  }
  .adresscard {
    padding: 40px;
  }
  .adresscard_item {
    &:not(:last-child) {
      padding-bottom: 32px;
    }
  }
  .adresscard_list-title {
    @include font(16px, 500, 30px);
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }
  .adresscard_list-adress {
    @include font(16px, 500, 29px);
  }
  .adresscard_list-schedule {
    @include font(16px, 500, 30px);
  }
  .adresscard_list-hours {
    @include font(16px, 500, 30px);
    color: var(--button-disabled-color);
  }
  .adresscard_link {
    @include font(16px, 500, 29px);
  }
  .adresscard-btn {
    gap: 16px;
  }
}
