.blog-post {
  & .container {
    display: flex;
    padding: 0;
  }

  &-content {
    padding: 112px 44px 113px 30px;

    background-color: #0284d0;
  }

  &-btn {
    display: inline-block;
    padding: 11px 31px 10px 42px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;
    line-height: 1.56;
    color: var(--secondary-text-color);
  }
}
