.business-cases {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  row-gap: 7px;
}
