@media screen and (min-width: 320px), screen and (max-width: 480px) {
  .section-feedback {
    padding-bottom: 394px;
    padding-top: 0px;
  }
  .slider-feedback {
    margin-bottom: 14px;
  }
  .coment__foto {
    margin-bottom: 32px;
  }

  .coment__field {
    padding: 34px 39px;
    background-color: var(--background-color);
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .coment__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 2.55;
    color: var(--primary-text-color);
    text-align: center;
    letter-spacing: 0.04em;
  }
  .coment__information {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.85;
    color: var(--secondary-text-color);
    text-align: center;
    // margin-bottom: 14px;
  }
  .slick-dots {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .section-feedback {
    padding-top: 100px;
    padding-bottom: 383px;
  }
  .slider-feedback {
    margin-bottom: 32px;
  }
  .coment__field {
    padding: 28px 80px;
    border-radius: 24px;
    margin-bottom: 32px;
  }
  .coment__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    width: 545px;
  }
  .coment__information {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    // margin-bottom: 32px;
  }
  .slick-dots {
    width: 704px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section-feedback {
    padding-top: 300px;
    padding-bottom: 251px;
  }
  .coment {
    width: 968px;
    margin-left: auto;
    margin-right: auto;
  }
  .coment__field {
    padding: 39px 109px 47px 109px;
  }
  .coment__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-dots {
    width: 1170px;
  }
}

.slick-dots li {
  margin: 0 9px;
  width: 12px;
  height: 12px;
  cursor: url(../images/cursor.svg), default;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--pagination-color);
}
.slick-dots li button:before {
  content: '';
  width: 12px;
  height: 12px;
  cursor: url(../images/cursor.svg), default;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
  cursor: url(../images/cursor.svg), default;
}
.slick-dots li.slick-active button:before {
  background-color: var(--background-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: url(../images/cursor.svg), default;
}
