.page-footer {
    display: block;
    width: 100%;
    padding-top: 39px;
    padding-bottom: 62px;
    background-color: var(--background-color);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .page-footer {
        padding-top: 40px;
        padding-bottom: 13px;
    }
}

@media screen and (min-width: 1200px) {
    .page-footer {
        padding-top: 120px;
        padding-bottom: 11px;
    }
}

.footer-base {
    display: block;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #E1E1E1;
}

@media screen and (min-width: 768px) {
    .footer-base {
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    .footer-base {
        width: 1200px;
        align-items: baseline;
    }
}

.footer-box__link {
    font-family: var(--main-font);
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    width: 232px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: var(--primary-text-color);
    text-align: left;
}

@media screen and (min-width: 768px) {
    .footer-box__link {
        width: 352px;
        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1200px) {
    .footer-box__link {
        font-weight: 400;
        width: 504px;
        height: 37px;
        font-size: 30px;
    }
}

.footer-box__title {
    font-family: var(--main-font);
    text-transform: uppercase;
    width: 200px;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    color: var(--primary-text-color);
    text-align: left;

    padding-top: 16px;
    padding-bottom: 42px;
}

@media screen and (min-width: 768px) {
    .footer-box__title {
        width: 340px;
        font-size: 48px;
        line-height: 1.23;
        letter-spacing: 0.06em;

        padding-top: 9px;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-box__title {
        width: 100%;
        font-size: 54px;
    }
}

.social {
    padding: 0;

    &-list {
        display: flex;
        justify-content: right;
        align-items: baseline;
       
        gap: 30px;

            &__link {
                cursor: url(../images/cursor.svg), default;
            }
    }
}


.social-list__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    border-radius: 50%;
    border: 1px solid var(--accent-color);
    fill: var(--background-color);
    background-color: var(--accent-color);
    transition: fill $timing-function;

    &:hover {
        width: 32px;
        height: 32px;
    }

    &:focus {
        width: 35px;
        height: 35px;
    }
}

.social-list-icon__github {
    width: 20px;
    height: 20px;
    fill: var(--background-color);
    transition: fill $timing-function;
}

.social-list-icon__telegram {
    width: 20px;
    height: 16px;
    fill: var(--background-color);
    transition: fill $timing-function;
}

.social-list-icon__facebook {
    width: 9px;
    height: 20px;
    fill: var(--background-color);
    transition: fill $timing-function;
}

.social-list__item:hover .social-list-icon__github {
    fill: #FFFFFF;
    width: 19px;
    height: 19px;
}

.social-list__item:focus .social-list-icon__github {
    fill: #FFFFFF;
    width: 21px;
    height: 21px;
}

.social-list__item:hover .social-list-icon__telegram {
    fill: #FFFFFF;
    width: 19px;
    height: 15px;
}

.social-list__item:focus .social-list-icon__telegram {
    fill: #FFFFFF;
    width: 21px;
    height: 16px;
}

.social-list__item:hover .social-list-icon__facebook {
    fill: #FFFFFF;
    width: 9px;
    height: 19px;
}

.social-list__item:focus .social-list-icon__facebook {
    fill: #FFFFFF;
    width: 10px;
    height: 21px;
}

.footer-inform {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: baseline;
    padding-top: 38px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .footer-inform {
        padding-top: 32px;
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-inform {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.footer-contact {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
    .footer-contact {
        font-size: 14px;
        line-height: 1.9;
    }
}


@media screen and (min-width: 1200px) {
    .footer-contact {
        font-size: 16px;
    }
}


.footer-telefon {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
    .footer-telefon {
        font-size: 14px;
        line-height: 1.9;
    }
}

@media screen and (min-width: 1200px) {
    .footer-telefon {
        font-size: 16px;
    }
}

.footer-end {
    display: flex;
    width: 165px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .footer-end {
        width: 100%;
    }
}

.basement {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #7A7A7A;

    padding-top: 16px;
}

@media screen and (min-width: 768px) {
    .basement {
        padding-top: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .basement {
        font-size: 14px;
        line-height: 1.8;
        padding-top: 12px;
    }
}