.page-footer {
    display: block;
    width: 100%;
    padding-top: 39px;
    padding-bottom: 62px;
    background-color: var(--background-color);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .page-footer {
        padding-top: 40px;
        padding-bottom: 13px;
    }
}

@media screen and (min-width: 1200px) {
    .page-footer {
        padding-top: 80px;
        padding-bottom: 11px;
    }
}

.footer-base {
    display: block;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #E1E1E1;
}

@media screen and (min-width: 768px) {
    .footer-base {
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    .footer-base {
        width: 1200px;
    }
}

.footer-box {
    align-self: baseline;

    @media screen and(max-width:767px) {
        margin-bottom: 42px;
    }
}

.footer-box__link {
    font-family: var(--main-font);
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    width: 232px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: var(--primary-text-color);
    text-align: left;
}

@media screen and (min-width: 768px) {
    .footer-box__link {
        width: 352px;
        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1200px) {
    .footer-box__link {
        font-weight: 400;
        width: 504px;
        height: 37px;
        font-size: 30px;
    }
}

.footer-box__title {
    font-family: var(--main-font);
    text-transform: uppercase;
    width: 200px;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    color: var(--primary-text-color);
    text-align: left;

    padding-top: 16px;
}

@media screen and (min-width: 768px) {
    .footer-box__title {
        width: 340px;
        font-size: 48px;
        line-height: 1.23;
        letter-spacing: 0.06em;

        padding-top: 9px;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-box__title {
        width: 100%;
        font-size: 54px;
    }
}

.social {

    padding: 0;

    display: flex;
    flex-direction: column;

    &-list {
        justify-content: end;
        gap: 28px;
        display: flex;

        @media screen and(min-width:768px){
            gap: 30px;
        }

        &__link {
            cursor: url(../images/cursor.svg), default;
            @include transitionOne(fiil);

            width: 32px;
            height: 32px;
            outline: 2px solid var(--accent-color);
            color:var(--background-color);
            background-color: var(--accent-color);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: flex;

            &:hover {
                color: #fcfcfc;

                outline: 1px solid transparent;
            }


            &:focus {
                color: #fcfcfc;

                outline: 3px solid var(--accent-color);
            }
        }
    }
}


.social-list__item {
    fill: var(--background-color);
}

.social-list-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}


.footer-inform {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: baseline;
    margin-top: 38px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .footer-inform {
        margin-top: 32px;
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-inform {
        margin-top: 40px;
        padding-bottom: 60px;
    }
}

.footer-contact {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
    .footer-contact {
        font-size: 14px;
        line-height: 1.9;
    }
}


@media screen and (min-width: 1200px) {
    .footer-contact {
        font-size: 16px;
    }
}


.footer-telefon {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
    .footer-telefon {
        font-size: 14px;
        line-height: 1.9;
    }
}

@media screen and (min-width: 1200px) {
    .footer-telefon {
        font-size: 16px;
    }
}

.footer-end {
    display: flex;
    width: 165px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .footer-end {
        width: 100%;
    }
}

.basement {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #7A7A7A;

    padding-top: 16px;
}

@media screen and (min-width: 768px) {
    .basement {
        padding-top: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .basement {
        font-size: 14px;
        line-height: 1.8;
        padding-top: 12px;
    }
}