.section__gallery {
  width: 100%;
  position: relative;
}
.slick {
  position: absolute;
  max-width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -24px);
  z-index: 99;
  .slick-slider {
    margin: 0;
  }
  .slick-dotted {
    margin: 0;
  }
}
.gallery__image {
  margin: 0 auto;
  max-width: 100%;
  border-radius: 7px;
}
//======desktop========
@media screen and(min-width: 1200px) {
  .slick {
    transform: translate(-50%, -98px);
  }
  .gallery__image {
    border-radius: 24px;
  }
}
//======/desktop========
//======tablet========
@media screen and(min-width: 768px) and (max-width: 1199px) {
  .slick {
    transform: translate(-50%, -164px);
  }
  .gallery__image {
    border-radius: 18px;
  }
}
//======/tablet========
