@media screen and (max-width: 1199px) {
    .menu {
    display: none;
    }

    .buy-now-button {
        display: none;
    }

}

.page-header {
    background-color: var(--background-color);
    padding: 12px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .page-header {
        background-color: var(--background-color);
        padding: 20px 0;
    }

    .logo-link {
        margin-right: auto;
    }

    .button-burger {
        margin-right: 32px;
    }
    
    .buy-now-button {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .button-burger {
        display: none;
    }

    .logo-link {
        width: 60px;
        height: 65px;
        margin: 0;
    }

    .menu__list {
    display: flex;
    }

    .menu__item:not(:last-child) {
    margin-right: 27px;
    }

    .menu__link {
    font-family: 'Montserrat';
    @include font(16px, 700, 20px);
    color: var(--primary-text-color);

        &:hover, &:focus {
                color: var(--accent-color);
        }
    }
}



// new menu 

body.lock {
    overflow: hidden;
}

.nav.is-open {
    right: 0;
}

@media screen and (max-width: 1199px) {
.page-header {
    width: 100%;
    z-index: 10;
    min-height: 64px;
    background-color: red;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
}

 .logo-link {
    width: 40px;
    height: 37px;
    z-index: 5;
    margin: 0;
    position: relative;
}
}

.nav {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    transition: right .3s;
    position: fixed;
    top: 64px;
    right: -100%;
    overflow: auto;
}

.nav {
    text-align: center;
    margin-bottom: 111px;
}

.nav__list {
    padding-top: 39px;
    padding-bottom: 111px;
}

.menu-button {
    width: 32px;
    height: 32px;
    padding: 10px 6px;
}

.menu-icon {
    z-index: 5;
    width: 20px;
    height: 12px;
    display: block;
    position: relative;
}

.menu-icon:before {
    top: 0;
}

.menu-icon:before,
.menu-icon:after {
    content: "";
}

.menu-icon span,
.menu-icon:before,
.menu-icon:after {
    height: 10%;
    width: 100%;
    background-color: #fff;
    transition: all .3s;
    position: absolute;
    left: 0;
}

.menu-icon span {
    top: 50%;
    transform: scale(1)translate(0, -50%);
}

.menu-icon:after {
    bottom: 0;
}

.menu-icon.active span {
    transform: scale(0) translate(0px, -50%);
}

.menu-icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);

}
.menu-icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);

}