.header {
  position: fixed;
  width: 100%;
  z-index: 10;

  & .container {
    display: flex;
    align-items: center;
    padding: 0 50px;
  }

  &-logo {
    display: flex;
    align-items: center;
  }

  & .accent {
    color: var(--accent-color);
  }

  &-logo-img {
    margin-right: 10px;
  }

  &-logo {
    font-size: 35px;
    line-height: 1.21;
    color: var(--secondary-text-color);
  }

  &-nav-list {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  &-nav {
    margin-left: auto;
  }

  &-nav-link {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.56;
    color: var(--secondary-text-color);
  }
}
