.hero {
    background-color: var(--background-color);
}
.hero__title {
    width: 100%;
    padding-left: 20px;
    padding-right: 53px;
    padding-top: 61px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.hero__buttons{
    display: flex;
    gap: 8px;
    margin-top: 32px;
    margin-left: 20px;
}
.hero__primary-button{
    width: 62px;
    height: 24px;
    border: 2px solid #F8D24E;
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    align-items: center;
    text-align: center;

    color: var(--button-text-color);
    background-color: var(--background-color);
}
.hero__secondary-button{
    width: 82.8px;
    height: 24px;
    border: none;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: var(--accent-color);
    background-color: var(--background-color);
}

@media screen and (max-width: 768px) {
    .hero__description {
        display: none;
    }
    .hero__stats {
        display: none;
    }
    .section {
        padding-top: 0;
        padding-bottom: 0;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .hero__dots-mobile{
        width: 100%;
    }
} 
