.hero {
  background-color: var(--background-color);
  background-image: url(../images/header-hero/header-bg-dots-m.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  @media screen and (min-width: 480px) {
    background-size: 480px auto;
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/header-hero/header-bg-dots-t.svg);
    background-size: 768px auto;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/header-hero/header-bg-dots-d.svg);
    background-size: 1200px auto;
  }

  &__container {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 242px;
    width: 100%;
    @media screen and (min-width: 768px) {
      padding-bottom: 14px;
      padding-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 65px;
    }
  }

  &__section {
    padding-top: 61px;
  
    @media screen and (min-width: 767px){
      padding-top: 84px;
    }
  
    @media screen and (min-width: 1200px){
      padding-top: 81px;
    }
  }

  &__title {
    @include font(26px, 400, 32.68px);
    font-family: var(--title-font);
    letter-spacing: 0.04em;
    width: 100%;
    margin-bottom: 32px;
    
  
    text-transform: uppercase;
    color: var(--primary-text-color);

    animation-name: fade-in;
    animation-duration: 1000ms;
    animation-delay: 250ms;

    animation-timing-function: ease-out;
    transition-property: opacity;
    animation-fill-mode: backwards;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      @include font(18px, 400, 23px);
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 28px;
      @include font(38px, 400, 48px);
      letter-spacing: 0.04em;
    }
  }

  &__span {
    @include font(34px, 400, 33px);
  
    @media screen and (min-width: 768px) {
      @include font(24px, 400, 13px);
    }
    @media screen and (min-width: 1200px) {
      @include font(38px, 400, 48px);
      letter-spacing: 0.04em;
    }
  }

  &__link {
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 25px;
    margin: 0;
    padding: 0;
    line-height: 0;
    // animation: pulse 5s infinite;
    
    @media screen and (min-width: 768px) {
    display: flex;
    gap: 33px;
    align-items: center;

    &:hover .hero__icon,
    &:focus .hero__icon{
        // scale: 1.2;
        fill: black;
    }

    @media screen and (min-width: 1200px) {
      gap: 14px;
    }
  }
  }
  &__icon {
    width: 40px;
    height: 20px;
    cursor: url(../images/cursor.svg), default;
    fill: var(--primary-text-color);
    scale: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    gap: 12px;
    margin-bottom: 42px;

    align-items: center;
  }
}
.hero-primary-button {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  cursor: pointer;
  cursor: url(../images/cursor.svg), default;

  @include font(8px, 600, 10px);
  font-family: var(--main-font);
  width: 62px;
  height: 24px;
  padding: 10px;

  color: var(--button-text-color);
  background-color: var(--background-color);
  
  transition: border-color $timing-function, color $timing-function;
  
    &:hover {
    border-color: var(--button-hoover-focus-color);
  }
    &:focus {
    border-color: var(--button-hoover-focus-color);
    color: var(--primary-text-color);
  }
    &:default {
    border-color: var(--additional-text-color);
  }
  @media screen and (min-width: 1200px) {
    @include font(14px, 600, 18px);
    width: 134px;
    height: 42px;
    padding: 12px 34px;
  }
}

.hero-secondary-button {
  font-family: var(--main-font);
  @include font(8px, 600, 10px);
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  width: 83px;
  height: 24px;
  border: none;
  cursor: pointer;
  cursor: url(../images/cursor.svg), default;

  color: var(--accent-color);
  background-color: var(--background-color);
  transition: color $timing-function;

    &:hover {
      color: var(--button-hoover-focus-color);
    }
    &:focus {
      color: var(--primary-text-color);
    }
    &:default {
      color: var(--additional-text-color);
    }
    
    @media screen and (min-width: 1200px) {
    @include font(14px, 600, 17px);
    width: 154px;
    height: 40px;
  }
}

.hero-image {
  position: absolute;
  pointer-events: none;
  height: auto;
  bottom: 0;
  left: 45px;
  width: 80vw;

  @media screen and (min-width: 768px) {
    left: 370px;
    width: 370px;
  }

  @media screen and (min-width: 1200px) {
    width: 540px;
    left: 580px;
  }
}
.hero-description {
  display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 33px;
        align-items: center;
    @media screen and (min-width: 1200px) {
          gap: 14px;
        }
    }
    &__image{
      width: 152px;
      height: 152px;
  
      @media screen and (min-width: 1200px) {
          width: 250px;
          height: 250px;
        }
  }
    &__box{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 151px;
      align-items: flex-start;
      justify-content: center;
    
      @media screen and (min-width: 1200px) {
          gap: 25px;
          padding-top: 32px;
          width: 200px;
        }
       }
    &__text{
      @include font(12px, 400, 17px);
      font-family: var(--main-font);
      width: 151px;
      color: var(--primary-text-color);
          
      @media screen and (min-width: 1200px) {
      width: 200px;
      font-size: 14px;
      }
    }
    &__image {
      width: 152px;
      height: 152px;
      animation-name: spin;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: reverse;
    
      @media screen and (min-width: 1200px) {
        width: 225px;
        height: 225px;
      }
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sales-spots {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0px;
    right: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    right: 16px;
    gap: 16px;
    }
    &__number {
    @include font(28px, 900, 34px);
    font-family: var(--main-font);
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--button-text-color);
    animation: wiggle 2s linear infinite;
  @media screen and (min-width: 1200px) {
    @include font(46px, 900, 56px);
      }
    }
    &__name {
      @include font(8px, 400, 10px);
      text-align: right;
      color: var(--primary-text-color);
    @media screen and (min-width: 1200px) {
      @include font(14px, 400, 17px); 
      }
    }
    }

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


